<!DOCTYPE html>
<html>
  <head>
    <title>ohanquiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Selamat <%= cond %> Dunia!</h2>
    <p>Pilih model soal:</p>
    <button type="submit">
      <a class="btn btn-dark btn-sm" href="/onesoal" >One Soal</a>
    </button>
    <button type="submit">
      <a href="/soals"> Many Soals</a>
    </button>
  </body>
</html>
